body, h1, h2, h3, h4, h5, h6, p, a, ul, li {
  padding: 0;
  margin: 0;
}

.login {
  position: fixed;
  top: 20%;
  width: 400px;
  height: 650px;
  border: 1px solid;
  margin: auto;
}

.loginForm {
  text-align: center;
  width: 900px;
  margin: auto;
}

h1 {
  font-family: $head-font;
  color: $blue;
  text-shadow:  0.25rem -0.25rem rgba(magenta, 0.75),
               -0.25rem -0.25rem rgba(59, 239, 182, 0.75),
                0        0.5rem  rgba(yellow, 0.75);
  text-align: center;
  font-size: 10em;
}


h2 {
  font-family: $head-font;
  border-bottom: 2px solid $head-font-color;
}

h3 {
  font-family: $head-font;
  color: $head-font-color;
}

li {
  list-style-type: none;
}

p {
  font-family: $p-font;
  font-size: 1.5em;
}

.container {
  width: 900px;
  margin: 30px auto;
  display: none;
}

.userList {
  float: right;
}



//JQUERY

.active {
  display: block;
}
